body {
   background-color: #eaeff0 ; 
   position: relative;
}
header {
    background-color: white ; 
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 260px;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: 2px; /* set space between letter */
    word-spacing: 10px; /* set space between word */
    max-height: 15px ;
    white-space: nowrap;/* اذا كان الكلام اكبر من العرض اجعله يخرج منه*/
    overflow: hidden;/*اقطع الكلام الزائد عن العرض المحدد */
    text-overflow: ellipsis; /* ضع نقاط لبيان ان جزء من النص مقطوع*/
    position: absolute;
}
nav {
    margin: 10px;
    text-align: center;
    width: 230px ;
    height: 2000px;
    background-color: white ; 
    text-transform: capitalize;
    position: absolute;
}
nav div{
    margin: 10px;
    text-align: left;
}
nav hr {
    color: #c3bcbc;
}
.logo {
    width: 27px;
    height: 27px;
    position: absolute;
}
.link {
    margin-left: 50px;
    text-decoration: none;
}
.download {
    margin-left: 5px;
    width: 150px;
    background-color: blue;
    padding: 2px;
    margin: 2px;
    border-radius: 5px ;
}
.download-text{

    margin-left: 38px;
}
.download-img {
    margin: 11px;
    width: 27px;
    height: 27px;
    position: absolute;
}
.my-img , .my-img-home {
    margin-top: 10px;
    border-radius: 10px;
}
.name {
    font-family: 'Righteous', cursive;
    font-size: small;
}
.curren-job {
    font-size: smaller ;
}
main {
    width: 561.19px;
    background-color: white ; 
    margin-top: 50px;
    margin-left: 260px;
    position: absolute;
}
.home-p {
    margin: 70px;
    position: absolute;
    text-align: left ;
    direction: ltr;
} 
.my-img-home {
    text-align: right;
    direction: ltr;
    vertical-align: middle;
    margin-right: 10px ;
    margin-bottom: 10px;
    margin-left: 345.6px;
    /* position: absolute;  */
    position: right;
}
.home-p .span1 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}
.home-p .span2 {
    font-size: 21px;
}
.home-p .span3 {
    font-size: 14px;
}
.about {
    width: 461.19px;
    background-color: white ; 
    margin-top: 20px;
    position: absolute;
    padding: 50px ;
}
.about h1 {
    margin-left: 54px ;
}
.about img {
    margin: 20px;
}
.about p {
 font-size: small;
 text-align:justify;   
}
.box {
    width: 190px;
    height: 190px;
    margin: 10px;
    padding: 2px;
    background-color: whitesmoke;
}
.box div {
    min-width: 80px;
    min-height: 80px;
    margin: 6px 2px 2px 6px;
    padding: 2px;
    display: inline-block;
    background-color: white;
}
.box1 {
    border-bottom : red 1px solid
}
.box2 {
    border-bottom : blue 1px solid
}
.box3 {
    border-bottom : green 1px solid
}
.box4 {
    border-bottom : yellow 1px solid
}
.box img {
    margin: 11px 11px 11px 25px;
    width: 27px;
    height: 27px;
    position: absolute;
}
.box p {
    text-align: center;
}
