body {
    background-color: white;
}
.left-right {
    background-color: rgb(210 206 206);
    position: relative;
    width: 100%;
    min-height: 1000px;
    left: 0;
}
.left-right div {
    margin-left: 1%;
    margin-top: 1%;
    height: 1000px;
}
.left-right .left {
    background-color: white;
    width: 27%;
    position: absolute;
    min-height: inherit;
}
.left-right .right {
    background-color: rgb(210 206 206);
    width: 70%;
    position: absolute;
    min-height: inherit;
    right: 1%;
    overflow: hidden;
}
.clear {
    clear: both;
}
.right div {
    margin-top: 1%;
    background-color: white;
    width: 100%;
    position: relative;
    height: 18%;
    right: 1%;
    float: left;
}
.my-img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 10px;
    border-radius: 10px;
}
.name {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}
.curren-job {
    text-align: center;
    font-size: 18px ;
}
.logo {
    left: 15%;
    width: 27px;
    height: 27px;
    position: relative;
}
.link {
    top: -1%;
    left: 23%;
    position: relative;
    text-decoration: none;
}

.download-text{
    background-color: red;
    width: 50%;
    padding: 5% 2% 5% 16%;
    border-radius: 2%;
    position: relative;
    top: 2px;
    left: 14%;
}
.download-img {
    top: -48px;
    left: 17%;
    width: 27px;
    height: 27px;
    position: relative;
}