body {
    background-color: gray;
}
.main-page-area {
  overflow: hidden;
}
.main-page-area div {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.left-side {
    background-color: white;
    width: 27%;
    height: 100%;
    position: fixed;
}
.right-side {
    background-color: gray;
    width: 70%;
    height: fit-content;
    position: absolute;
    right: 0%;
    overflow: hidden;
}
.section1 , .section2 , .section3 , .section4 , .section5 , .section6 , .section7 {
    background-color: white;
    width: 100%;
    margin-bottom: 1% ;
    position: relative;
    padding: 1%;
    height: fit-content;
    float: left ;
    top: 52px;
}
.clear {
    clear: both;
}
header {
    width: 100%;
    left: 30%;
    padding: 0%;
    position: fixed;
    height: 46px;
    background-color: gray;
    z-index: 10;
    padding-top: 2%;
    top: 0 ;
    color: rgb(223, 223, 157);
}
.my-img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 10px;
    border-radius: 10px;
}
.name {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}
.curren-job {
    text-align: center;
    font-size: 18px ;
}
.logo {
    left: 19%;
    width: 27px;
    height: 27px;
    position: absolute;
    cursor: pointer;
}
.link {
    left: 37%;
    position: absolute;
    text-decoration: none;
}
.download-text{
    background-color: red;
    width: 37%;
    padding: 5% 2% 5% 16%;
    border-radius: 2%;
    position: absolute;
    cursor: pointer;
    top: 476px;
    left: 23%;
}
.download-img {
    top: 504px;
    left: 29%;
    width: 27px;
    height: 27px;
    position: absolute;
    cursor: pointer;
}
header {
    overflow: hidden;
}
header span {
    width: 10%;
    float: left;
}
.home-p {
    margin: 53px;
    position: absolute;
    text-align: left;
    direction: ltr;
    left: 15%;
} 
.my-img-home {
    text-align: right;
    direction: ltr;
    vertical-align: middle;
    margin: 10px;
    position: relative;
    left: 67%;
    border-radius: 10%
}
.home-p .span1 {
    font-family: 'Righteous', cursive;
    font-size: 41px;
}
.home-p .span2 {
    font-size: 25px;
}
.home-p .span3 {
    font-size: 19px;
}
.about-p {
    z-index: 1;
    position: relative;
    left: 1%;
    margin-left: 54px;
    top: -1px;
    font-size: 27px;
}
.about-p-shadow {
    color: #ddd5d5;
    position: absolute;
    left: 0%;
    margin-left: 72px;
    top: -28px;
    font-size: 46px;
    z-index: 0;
}
.about img {
    margin: 20px;
}
.about p {
 font-size: small;
 text-align:justify;   
}
.box {
    width: 230px;
    height: 230px;
    margin: 10px;
    padding: 2px;
    background-color: whitesmoke;
}
.box div {
    min-width: 102px;
    min-height: 99px;
    margin: 6px 2px 2px 6px;
    padding: 2px;
    display: inline-block;
    background-color: white;
}
.box1 {
    border-bottom : red 2px solid
}
.box2 {
    border-bottom : blue 2px solid
}
.box3 {
    border-bottom : green 2px solid
}
.box4 {
    border-bottom : yellow 2px solid
}
.box img {
    margin: 11px 11px 11px 36px;
    width: 27px;
    height: 27px;
    position: absolute;
}
.box p {
    text-align: center;
}
.logo2 {
    left: 4%;
    top: 36px;
    width: 27px;
    height: 27px;
    position: absolute;
}
.section2 .text {
    text-align: justify;
    margin: 3%;
}