/* 
for child =>
flex grow ( increasing the size of element with respect to ather element when extra space appered )
flex shrink ( decreasing the size of element with respect to ather element when no space  )
order ( define the order on the element in the flex )
flex basis ( the width or hight of element (depend on flex direction ( row=> width ) ( column => hight ) ) )
flex : [grow] [shrink] [basis] ( default 0 1 auto )
*/
.grow {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 500px;
}
.grow div {
    color: white;
}
.grow .one {
    flex-grow: 1;
    background-color: green;
}
.grow .two {
    flex-grow: 2;
    background-color: gray;
}
.grow .three {
    flex-grow:  3;
    background-color: yellow;
    color: black;
}
/* ------------------------ */
.shrink {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 500px;
}
.shrink div {
    color: white;
    width: 300px;
}
.shrink .one {
    flex-shrink: 1;
    background-color: green;
}
.shrink .two {
    flex-shrink: 2;
    background-color: gray;
}
.shrink .three {
    flex-shrink: 3;
    background-color: yellow;
    color: black;
}
/* --------------------------------------- */
.order {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 600px;
}
.order div {
    color: white;
    width: 200px;
}
.order .one {
    order: 3;
    background-color: green;
}
.order .two {
    order: 1;
    background-color: gray;
}
.order .three {
    order: 2;
    background-color: yellow;
    color: black;
}
/* ---------------------------------------------- */
.bases {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 600px;
    transition-duration: 1s;
}
.bases div {
    color: white;
}
.bases .one {
    flex-basis: 100px ;
    background-color: green;
}
.bases .two {
    flex-basis: 200px;
    background-color: gray;
}
.bases .three {
    flex-basis: 300px;
    background-color: yellow;
    color: black; 
}
.bases:hover {
    flex-direction: column;
}
/* ------------------------------------------------- */
.order2 {
    display: inline-flex;
    flex-direction: row;
    background-color: red;
    width: 600px;
}
.order2 div {
    color: white;
    width: 200px;
}
.order2 .one {
    order: 3;
    background-color: green;
}
.order2 .two {
    order: 1;
    background-color: gray;
}
.order2 .three {
    order: 2;
    background-color: yellow;
    color: black;
}
/* 
flter=>
greyscale ( to make black and wight img )
 */
/* --------------------------------------- */
.img1 , .img2 , .img3{
    width: 100px;
    height: 100px;
}
.img1 {
    filter:grayscale(0);
    -webkit-filter:grayscale(100%);
}
.img2 {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.img3 {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.img1:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
.img2:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
}
.img3:hover {
    filter: invert(0%);
    -webkit-filter: invert(0%);
}
/*
background-image : 
gradient => linrear-gradient (direztion || angle , color stop 1 , color stop 2 , ... )
to right , to top , to bottom , to left , 45deg
you can but the percent for all color 
*/
body {
    background-image: linear-gradient(272deg, #bdbdbd 10% , #fafafa);
}
.GR {
    background-color: cornsilk;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}
.GR::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0px;
    width: 800px;
    height: 15px;
    /* background-color: black; */
    background-image: linear-gradient(272deg,
     #e0f2f1 20% ,
     #4caf50 20% ,
     #4caf50 40% ,
     #aed581 40% ,
     #aed581 60% ,
     #cddc39 60% ,
     #cddc39 80% ,
     #ffeb3b 80% ,
     #ffeb3b 100% );
}