/* in flex we do not need overflow hidden */
.flex , .float {
    width: 100%;
    background-color: grey;
    height: 20px;
    margin: 20px auto;
    padding: 20px;
}
.float {
    overflow: hidden;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* 
    like =>
    flex-flow: row nowrap;
     */
     
}
.flex-column {
    width: 50%;
    background-color: grey;
    height: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.float span {
    width: 33.33%;
    float: left;
    text-align: center;
    background-color: red;
}
.flex span {
    width: 33.33%;
    text-align: center;
    background-color: red;
}
.flex-column span {
    width: 100%;
    text-align: center;
    background-color: red;
    height: 100px;
    margin-bottom: 10px;
}
.flex:hover {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.flex-column:hover {
    flex-direction: column-reverse;
}
/* 
flex direction =>
 * default value is ( row ) , you can change it to ( row-reverse ,column ,column-reverse) .
 flex wrap =>
 * default value (nowrap " the box streching ") ,
 * wrap ( extra element go to next line )
*/
