.one {
    border-bottom: black 10px solid;
    color: black;
}
.two {
    border-bottom: blue 10px solid ;
    color: blue;
}
.three {
    border-bottom: green 10px solid;
    color: green;
}
.four {
border-bottom: red 10px solid;
color: red;
}
.one,
.two,
.three,
.four{
    background-color: #eee;
    margin: 20px;
    padding: 20px;
}